<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="./assets/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <img class="portrait" src="assets/img/Selena.jpeg" />
    </div>
    {{>footer}}
</body>

</html>