<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="./assets/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>
            {{content}}
        </p>
    </div>
    {{>footer}}
</body>

</html>