body{
    /**background-color: rgb(15,15,15);*/
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: gray;
}
h1{
    color: rgb(51, 51, 51);
}
img{
    width: 250px;
}
p{
    color: gray;
}
footer{
    padding: 16px;
    color: #888888;
    border-top: 1px solid gray ;
    margin-top: 16px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}
.portrait{
    width: 250px;
}
.main-content{
    flex-grow: 1;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}